body{
    background-color: rgb(235, 213, 255);
}

.container{
    display: flex;  
    flex-wrap: wrap;  
    justify-content: space-between; 
    padding: 20px;  
    max-width: 1200px;  
    margin:0 auto;  
    width: 1000px;
    height: 1000px;
}

.quadrados{
    width: 30%;  
    background-color: rgb(255, 255, 255);
    border: 1px solid #000000;
    margin-bottom: 20px;  
    display: flex;  
    flex-direction: column;  
    justify-content: space-between; 
    justify-content: center;
    align-items: center;
}

#xis{
    color: rgb(152, 10, 10);
}

#redondo{

    color: rgb(58, 227, 245);

}


h1{
    margin: 0; 
    text-align: center;   
    color: rgb(131, 43, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150px;
    
}


.quadrados p{
    display: flex;
    margin: 0 auto; 
    text-align: center; 
    padding: 20px;  
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;

}

h2{
    text-align: center;
    font-size: 50px;
}

.Linha1{
    display: flex;
    width: 2px;
    height: 750px;
    background-color: black;
    margin-left: 765px;
    margin-top: -1030px;
}

.Linha2{
    display: flex;
    width: 2px;
    height: 750px;
    background-color: black;
    margin-left: 1110px;
    margin-top: -750px;
}

.Linha3{
    display: flex;
    width: 980px;
    height: 2px;
    background-color: black;
    margin-left: 540px;
    margin-top: -260px;
}